@import "tailwindcss";

/* ------ TEMA CLARO ------ */
:root {
  --background: #f7f3ff;
  --foreground: #210440;

  --card-bg: rgba(255, 255, 255, 0.65);
  --card-border: rgba(33, 4, 64, 0.12);

  --primary: #210440;
  --primary-soft: #80499d;

  --accent: #ffba00;
  --accent-soft: #fdb095;

  --danger: #ff4d4d;
  --warn: #ffd166;
  --success: #06d6a0;
}

/* ------ TEMA OSCURO ------ */
html[data-theme='dark'] {
  --background: #050214;
  --foreground: #f5f0ff;

  --card-bg: rgba(255,255,255,0.09);
  --card-border: rgba(255, 255, 255, 0.1);

  --primary: #ffba00;
  --primary-soft: #e5959e;

  --accent: #ffba00;
  --accent-soft: rgba(255, 186, 0, 0.15);

  --danger: #ff6b81;
  --warn: #ffcc5c;
  --success: #4ce1b6;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
